body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    margin-top: 1vh;
  }

.App,
.UserDetail {
    display: grid;
    text-align: center;
    width: 50em;
    margin-top:2vh;
}

/* .App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

/* .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    min-height: 80vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
} */

/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

#joinFlakebookForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20em;
    gap: 10px;
    border: 1px solid #282c34;
    padding: 20px;
    margin: 0 auto;
}

#joinFlakebookForm input {
    font-size:small;
    padding: 4px;
    border: 1px solid #282c34;
    width: 100%;
}

#joinFlakebookForm label {
    font-size:small;
    font-weight: bold;
}

#joinFlakebookForm button,
.goBack {
    font-size:small;
    font-weight: bold;
    padding: 16px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.errorMessage {
    background-color: tomato;
    padding: 16px;
    color: white;
}